* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: "open sans";
    font-size: 16px;
    
}


#header p {
    margin-top: 24px;
   

}

#pdobusan {
    text-align: center;
}

#pdofinal {
    padding-top: 40px;
}

#line {
    color: #D9D9D9;
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px;
    border-style: solid;
}


#page {
    
    box-sizing: border-box;
    margin: 88px auto 137px;
    max-width: 1120px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 40px;
}

main {
    margin-top: 40px;
    
}

h2 {
    margin-top: 2px;
    margin-bottom: 8px;
}

main img {
    margin-top: 48px;
    margin-bottom: 20px;

}

span {
    font-weight: bold;
    text-transform: uppercase;
    color: #E1624F;
}

ul {
    margin-top:25px ;
    font-weight: bold;
}

a {
    color: #0C51A7;
}

#familias {
    color: #E5245E;
}

#orçamentos {
    color: #E95E10;
}

#ulfinal {
    padding-bottom: 40px;
}

footer {
    margin-top: 65px;
    text-align: center;
}
